/* 1. NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { margin: 0px; padding: 0px; font-family: "ProximaNova", Arial, Tahoma, sans-serif; line-height: 1; font-weight: 400; background-color: #ffffff; height: 100%; position: relative; font-size: 16px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ""; content: none; }

q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input, textarea { color: #333; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; }

input[type="button"], input[type="submit"] { cursor: pointer; -webkit-appearance: none; outline: none; }

button { cursor: pointer; -webkit-appearance: none; outline: none; }

td, form { margin: 0px; padding: 0px; }

a { color: #000; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; text-decoration: none; outline: none; -webkit-tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* 1. FONTS */
/* ================================================ */
@font-face { font-family: "Tahoma"; src: url("../fonts/Tahoma.ttf"); }
@font-face { font-family: "TahomaBold"; src: url("../fonts/TahomaBold.ttf"); font-weight: 700; }
@font-face { font-family: "TimesNewRoman"; src: url("../fonts/TimesNewRoman.ttf"); }
/* 1. ICONS ================== */
.ic { position: relative; display: inline-block; vertical-align: middle; background: url('../img/icons-s1bedeee03e.png') no-repeat; }

.icon-attendance { width: 44px; height: 38px; background-position: 0 0; }

.icon-profit { width: 37px; height: 44px; background-position: 0 -48px; }

.icon-sales { width: 45px; height: 44px; background-position: 0 -102px; }

.icon-stability { width: 45px; height: 36px; background-position: 0 -156px; }

/* 2. BUTTON ================== */
body { color: #000; font-family: Tahoma, sans-serif; font-weight: 400; }

.btn, a.btn { display: inline-block; vertical-align: middle; text-align: center; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; background: transparent; border: none; }

input[type="submit"].btn, button.btn { padding-top: 0; }

/* 3. CONTENT ================== */
#main { background-color: #FFF; }

.container { width: 1200px; margin-left: auto; margin-right: auto; }

.content-wrap { margin: 80px 180px 90px 180px; }
.content-wrap .bloc-title { height: 270px; width: 100%; padding: 20px 30px; background-color: #f0f0f0; }
.content-wrap .bloc-title img { display: block; float: left; margin-right: 22px; }

.title-decr .title-top { margin-right: 4%; font-size: 21px; font-family: "TahomaBold", sans-serif; line-height: 25px; }
.title-decr .post-descr { margin: 10px 0; }
.title-decr .btn-more { color: #fefefe; padding: 10px 25px; font-size: 13px; background-color: #da4137; background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.18) 0%, transparent 100%); background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.18) 0%, transparent 100%); background-image: linear-gradient(to top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%); }

.post-title { margin: 25px 0 10px; font-size: 18px; font-family: "TahomaBold", sans-serif; line-height: 19px; clear: both; }

.post-descr { color: #8d8d8d; font-family: "Times New Roman", sans-serif; font-size: 14px; line-height: 20px; }

.benefit-item { float: left; width: 25%; margin: 25px 0 45px; font-size: 0; }
.benefit-item:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.benefit-item .ic { margin: 0 10px; }
.benefit-item span { display: inline-block; font-size: 14px; font-style: italic; line-height: 18px; font-family: "Times New Roman", sans-serif; vertical-align: middle; }

/* 5. MEDIA ================== */
